{% extends 'base.html' %}
{% load static %}
{% block content %}

    <header class="header--form-page">
      <nav class="container container--70">
        {% if request.user.is_authenticated %}
              {% include 'header_logged_in_menu.html' %}
              {% include 'header_menu_buttons_2.html' %}
              {% else %}
              {% include 'header_logged_out_menu.html' %}
              {% include 'header_menu_buttons_1.html' %}
            {% endif %}
      </nav>

      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>
    </header>


    <script src="{% static 'js/app.js' %}"></script>

{% endblock %}