{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="header--form-page">
      <nav class="container container--70">
          {% if request.user.is_authenticated %}
              {% include 'header_logged_in_menu.html' %}
              {% include 'header_menu_buttons_2.html' %}
              {% else %}
              {% include 'header_logged_out_menu.html' %}
              {% include 'header_menu_buttons_1.html' %}
            {% endif %}
      </nav>
    <section style="text-align: center">
        <h1>Ustawienia</h1>
        <form method="post" style="margin-right: auto; margin-left: auto; width: 10%">

            {% csrf_token %}
            <section style="text-align: center">
                <label>Imię: </label><input type="text" name="first_name" value="{{ request.user.first_name }}"><br>
                <label>Nazwisko: </label><input type="text" name="last_name" value="{{ request.user.last_name }}"><br>
                <label>Email: </label><input type="text" name="email" value="{{ request.user.email }}"><br>
                <label>Podaj hasło: </label><input type="password" name="password"><br>
            <input type="submit" value="Wyślij">
                </section>
        </form>
        <h3>{{ message }}</h3>
        <h3><a href="{% url 'change_password' %}">Zmień hasło</a></h3>
    </section>
    </header>
{% endblock %}